.scroll {
  overflow: scroll;
  float: left;
}


.scroll1::-webkit-scrollbar {
  width: 5px
}

.scroll1::-webkit-scrollbar-track {
  //background: #ddd;
  background: #F5F6FA;
}

.scroll1::-webkit-scrollbar-thumb {
  //background: #666;
  //background: #6c757d;
  background: #CCD0D3;
}

.scroll2::-webkit-scrollbar {
  width: 5px;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #666;
}
