.scroll {
  overflow: auto;
  float: left;
}


.scroll1::-webkit-scrollbar {
  width: 5px;
}

.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #666;
}

.scroll2::-webkit-scrollbar {
  width: 5px;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #666;
}
