/* Updated version - 24th Nov 2014 */
/*$backgroundColor: #f76462*/;
@import "fontello";
$backgroundColor: none;
$list: #ffffff;
$border: #ffffff;
$geneicons: #ffffff;

@mixin background-image($imgColor1, $imgColor2) {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $imgColor1), color-stop(100%, $imgColor2));
  background-image: -moz-linear-gradient($imgColor1, $imgColor2);
  background-image: -webkit-linear-gradient($imgColor1, $imgColor2);
  background-image: linear-gradient($imgColor1, $imgColor2);

}

@mixin transition ($allTime, $easeInOutTime) {
  -moz-transition: all $allTime+s ease-in-out $easeInOutTime+s;
  -o-transition: all $allTime+s ease-in-out $easeInOutTime+s;
  -webkit-transition: all $allTime+s ease-in-out;
  -webkit-transition-delay: $easeInOutTime+s;
  transition: all $allTime+s ease-in-out $easeInOutTime+s;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Lato, sans-serif;

}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

header{
  margin-top: 60px
}

.header {
  display: flex;
  justify-content: space-between;
  background: #17283A;
  width: 100%;
  .userContext{
    display: flex;
    align-items: center;
    margin-right: 45px;
    .dropdown-item{
      i{
        margin-right: 5px;
      }
    }
    p{
      margin-left: 5px;
      color: white;
    }
  }
}



.accordion {
  display: block;
  list-style-type: none;
  height: 60px;
  font-size: 0;
}
.deactiveTab{
  &{
    width: 50px;
    .social-links a {
      &:before {
        margin-left: 0;
      }
      &:after {
        margin-left: 85px;
      }
    }
  }
}

.tabs {
  display: inline-block;
  background-color: #17283A;
  border-right: #17283A 1px solid;
  //border-right: #304050 1px solid;
  width: 50px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
  @include transition(0.4 , 0.1);
  &-hover:hover {
    width: 450px;
    .social-links a {
      &:before {
        margin-left: -100px;
      }
      &:after {
        margin-left: -0px;
      }
    }
  }
}


.activeTab{
  width: 450px;
  .social-links a {
    &:before {
      margin-left: -100px;
    }
    &:after {
      margin-left: -0px;
    }
  }
}

.activeTab-deactivated{
  width: 50px;
  .social-links a {
    &:before {
      margin-left: 0;
    }
    &:after {
      margin-left: 85px;
    }
  }
}

.paragraph {
  position: relative;
  width: 450px;
  margin-left: 50px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #304050;
  user-select: none;
  color: white;
  a{
    text-decoration: none;
    color: white;
    h1 {
      font-size: 1.55rem;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.5em;
      padding-right: 30px;
      opacity: 0.9;
    }
  }
}


.social-links {
  display: block;
  a {
    display: block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    &:before, &:after {
      @include transition(0.4 , 0.1);
      width: 50px;
      height: 60px;
      position: absolute;
      text-indent: 0;
      padding-top: 1.2rem;
      padding-left: 0.85rem;
      display: block;
      font: normal 1.5rem fontello;
      color: white;
    }
    &:after {
      font-size: 1.75rem;
      padding-left: 0.7rem;
      padding-top: 1rem;
      margin-left: 85px;
    }
  }
}

.skills-icon a {
  &:before, &:after {
    content: '\e800';
  }
  &:after {
    @include background-image(white, white);
    @include background-image(rgba(23, 40, 58, 0.5), rgba(23, 40, 58, 0.5));
    @include background-image(#304050, #304050);
  }
  &:before {
    color: rgba(255, 255, 255, 0.5);
  }
}

.search-icon a {
  &:before, &:after {
    content: '\e802';
  }
  &:after {
    @include background-image(#283e56, #325372);
    @include background-image(white, white);
    @include background-image(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
    @include background-image(#304050, #304050);
  }
  &:before {
    color: rgba(255, 255, 255, 0.5);
  }
}

.administration-icon a {
  &:before, &:after {
    padding-left: 0.8rem;
    content: '\e801';
  }
  &:after {
    @include background-image(#00a9cd, #0083b4);
    @include background-image(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
    @include background-image(#304050, #304050);
  }
  &:before {
    color: rgba(255, 255, 255, 0.5);
  }
}

#activePage{
  z-index: -1;
  width: 399px;
  border: 0;
  font-size: 12px;
  margin-left: 150px;
  position: absolute;
}