@charset "UTF-8";
/* Updated version - 24th Nov 2014 */
/*$backgroundColor: #f76462*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?22557360");
  src: url("../fonts/fontello.eot?22557360#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?22557360") format("woff2"), url("../fonts/fontello.woff?22557360") format("woff"), url("../fonts/fontello.ttf?22557360") format("truetype"), url("../fonts/fontello.svg?22557360#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22557360#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-book:before {
  content: '\e800'; }

/* '¯áÇ' */
.icon-cog:before {
  content: '\e801'; }

/* '¯áü' */
.icon-search:before {
  content: '\e802'; }

/* '¯áé' */
.icon-logout:before {
  content: '\e803'; }

/* '¯áâ' */
.icon-mail:before {
  content: '\e804'; }

/* '¯áä' */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* Variables */
body {
  background: none;
  font-family: Lato, sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  background: #5ab2ca;
  width: 100%; }
  header .dropdown-item i {
    margin-right: 5px; }

.accordion {
  display: block;
  list-style-type: none;
  height: 60px;
  font-size: 0; }

.deactiveTab {
  width: 50px; }
  .deactiveTab .social-links a:before {
    margin-left: 0; }
  .deactiveTab .social-links a:after {
    margin-left: 85px; }

.tabs {
  display: inline-block;
  background-color: #6dc5dd;
  border-right: #5ab2ca 1px solid;
  width: 50px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s; }
  .tabs-hover:hover {
    width: 450px; }
    .tabs-hover:hover .social-links a:before {
      margin-left: -100px; }
    .tabs-hover:hover .social-links a:after {
      margin-left: -0px; }

/*#tab1{
  &{
    width: 50px;
    .social-links a {
      &:before {
        margin-left: 0;
      }
      &:after {
        margin-left: 85px;
      }
    }
  }
}*/
.activeTab {
  width: 450px; }
  .activeTab .social-links a:before {
    margin-left: -100px; }
  .activeTab .social-links a:after {
    margin-left: -0px; }

.activeTab-deactivated {
  width: 50px; }
  .activeTab-deactivated .social-links a:before {
    margin-left: 0; }
  .activeTab-deactivated .social-links a:after {
    margin-left: 85px; }

.paragraph {
  position: relative;
  width: 450px;
  margin-left: 50px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #fff;
  user-select: none; }
  .paragraph h1 {
    font-size: 25px; }
  .paragraph p {
    font-size: 0.88em;
    line-height: 1.5em;
    padding-right: 30px; }

.social-links {
  display: block; }
  .social-links a {
    display: block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0; }
    .social-links a:before, .social-links a:after {
      -moz-transition: all 0.4s ease-in-out 0.1s;
      -o-transition: all 0.4s ease-in-out 0.1s;
      -webkit-transition: all 0.4s ease-in-out;
      -webkit-transition-delay: 0.1s;
      transition: all 0.4s ease-in-out 0.1s;
      width: 50px;
      height: 60px;
      position: absolute;
      text-indent: 0;
      padding-top: 15px;
      padding-left: 10px;
      display: block;
      font: normal 2rem fontello;
      color: #fff; }
    .social-links a:after {
      font-size: 40px;
      padding-left: 5px;
      padding-top: 11px;
      margin-left: 85px; }

.skills-icon a:before, .skills-icon a:after {
  content: '\e800'; }
.skills-icon a:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7adcf9), color-stop(100%, #4bc9f5));
  background-image: -moz-linear-gradient(#7adcf9, #4bc9f5);
  background-image: -webkit-linear-gradient(#7adcf9, #4bc9f5);
  background-image: linear-gradient(#7adcf9, #4bc9f5); }

.search-icon a:before, .search-icon a:after {
  content: '\e802'; }
.search-icon a:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283e56), color-stop(100%, #325372));
  background-image: -moz-linear-gradient(#283e56, #325372);
  background-image: -webkit-linear-gradient(#283e56, #325372);
  background-image: linear-gradient(#283e56, #325372); }

.administration-icon a:before, .administration-icon a:after {
  content: '\e801'; }
.administration-icon a:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a9cd), color-stop(100%, #0083b4));
  background-image: -moz-linear-gradient(#00a9cd, #0083b4);
  background-image: -webkit-linear-gradient(#00a9cd, #0083b4);
  background-image: linear-gradient(#00a9cd, #0083b4); }

#activePage {
  z-index: -1;
  width: 399px;
  border: 0;
  font-size: 12px;
  margin-left: 150px;
  position: absolute; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

main {
  margin-top: 60px; }
  main .top-content {
    padding: 15px 0;
    padding-right: 20%;
    border-bottom: 1px solid #ababab; }
    main .top-content ul li {
      margin-left: 5px; }
  main .central-block {
    display: flex;
    justify-content: center;
    padding-top: 10px; }
  main .aside-block {
    padding-top: 10px; }
    main .aside-block input {
      margin-top: 0; }
    main .aside-block .aside-menu {
      margin-top: 20px; }
      main .aside-block .aside-menu-dep {
        margin-top: 1rem;
        margin-left: 1rem;
        display: flex; }
      main .aside-block .aside-menu-sect {
        display: flex;
        margin: 10px 0 10px 2rem; }
        main .aside-block .aside-menu-sect summary {
          display: flex;
          margin-bottom: 5px; }
        main .aside-block .aside-menu-sect p {
          margin-left: 2.3rem;
          line-height: 1.3rem; }
  main .left-block {
    border-right: 1px solid #ababab; }
  main .central-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem; }
    main .central-block .badge {
      display: block;
      height: 1rem;
      width: 16rem; }
    main .central-block .card {
      width: 16rem;
      margin-top: 20px; }
      main .central-block .card .card-header {
        font-weight: bold; }
  main .right-block {
    border-left: 1px solid #ababab; }
    main .right-block .aside-menu-sect {
      margin-left: 3rem; }

.footer {
  display: flex;
  flex-wrap: wrap; }

/*# sourceMappingURL=main.css.map */
