.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2D8EF3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2D8EF3; }

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px); }

/* Rounded sliders */
.slider.round {
  border-radius: 17px; }

.slider.round:before {
  border-radius: 50%; }

.scroll {
  overflow: scroll;
  float: left; }

.scroll1::-webkit-scrollbar {
  width: 5px; }

.scroll1::-webkit-scrollbar-track {
  background: #F5F6FA; }

.scroll1::-webkit-scrollbar-thumb {
  background: #CCD0D3; }

.scroll2::-webkit-scrollbar {
  width: 5px; }

.scroll2::-webkit-scrollbar-thumb {
  background: #666; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

body {
  overflow: hidden; }

main {
  margin-top: 60px;
  position: relative; }
  main .aside-block {
    padding: 70px 0px 50px 0px;
    overflow-x: hidden; }
    main .aside-block i {
      margin-right: -25px;
      z-index: 1; }
    main .aside-block input {
      padding-left: 27px;
      margin-top: 0;
      border: none;
      border-bottom: 1px solid #304050;
      border-radius: 0; }
    main .aside-block form {
      padding-top: 60px;
      margin-top: -80px;
      padding-right: 130px;
      z-index: 1;
      background-color: white;
      position: fixed; }
    main .aside-block .form-check {
      margin-right: 10px; }
    main .aside-block .aside-menu {
      margin-top: 20px;
      color: #37373D; }
      main .aside-block .aside-menu-dep {
        margin-top: 1rem;
        display: flex;
        z-index: 6;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-right: 55px; }
      main .aside-block .aside-menu-sect {
        display: flex;
        padding: 5px 5px 5px 30px; }
        main .aside-block .aside-menu-sect summary {
          display: flex; }
        main .aside-block .aside-menu-sect p {
          margin-left: 2.3rem;
          line-height: 1.3rem;
          padding-bottom: 5px; }
  main .left-block {
    position: fixed;
    left: 0;
    height: var(--leftBlockHeight);
    background-color: #fff; }
    main .left-block form {
      padding-left: 10px; }
  main .left-block-child {
    height: var(--centralBlockChildHeight);
    padding-right: var(--centralBlockLeftPadding); }
  main .central-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #F5F6FA;
    height: var(--centralBlockHeight); }
    main .central-block .card {
      width: 15rem;
      margin: 110px 10px -70px; }
      main .central-block .card h5 {
        font-size: 1.3rem; }
      main .central-block .card h6 {
        margin-bottom: 10px; }
      main .central-block .card .badge {
        border: none;
        margin-bottom: 5px;
        background-color: #2D8EF3;
        color: white; }
      main .central-block .card .card-header {
        font-weight: bold; }
  main .central-block-child {
    height: var(--centralBlockChildHeight);
    padding-left: var(--centralBlockRightPadding); }
  main .right-block {
    position: fixed;
    height: var(--rightBlockHeight);
    right: 0;
    background-color: #fff; }
    main .right-block form {
      padding-left: 10px; }
    main .right-block .form-check-right {
      padding-left: 68px;
      padding-top: 5px;
      padding-bottom: 5px; }
    main .right-block .aside-menu-dep {
      padding-right: 75px; }
@-moz-document url-prefix() {
  main .right-block .right-block-whiteLine {
    position: fixed;
    margin-top: -70px;
    right: 5px;
    width: 12px;
    height: var(--rightBlockWhiteLine);
    background-color: #fff; } }
.footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(48, 64, 80, 0.2); }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.icon-search {
  border-radius: 0; }

.cardsFound {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 45px;
  font-size: 1.5rem;
  width: 90%; }
  .cardsFound .myEmpSwitch {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 10px;
    display: flex; }
    .cardsFound .myEmpSwitch label {
      margin-left: 7px; }
  .cardsFound .download-print {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400; }
    .cardsFound .download-print a {
      color: #666666;
      text-decoration: none;
      font-size: 1rem; }
      .cardsFound .download-print a:hover {
        color: #6c757d; }
    .cardsFound .download-print .el {
      transition: max-height 0.5s;
      overflow: hidden;
      max-height: 0;
      position: absolute;
      font-size: 1rem;
      z-index: 9999; }
      .cardsFound .download-print .el p {
        border-radius: 0;
        padding: 5px;
        opacity: 0.7; }
    .cardsFound .download-print .trigger {
      margin-left: 10px; }
    .cardsFound .download-print .trigger:hover > .el {
      max-height: var(--max-height); }
    .cardsFound .download-print .el2 {
      transition: max-height 0.5s;
      overflow: hidden;
      max-height: 0;
      position: absolute;
      font-size: 1rem;
      z-index: 9999; }
      .cardsFound .download-print .el2 p {
        border-radius: 0;
        padding: 5px;
        opacity: 0.7; }
    .cardsFound .download-print .trigger:hover > .el2 {
      max-height: var(--max-height); }

.activeSection {
  background-color: #E3EFFB;
  font-weight: bold; }

@-moz-document url-prefix() {
  main {
    overflow-y: auto; }

  form {
    padding-left: 8px; }

  .aside-menu-dep {
    margin-left: 15px;
    margin-right: -15px; }

  .left-block {
    margin-right: 8px; }

  .right-block {
    z-index: 8; } }

/*# sourceMappingURL=main.css.map */
