@import "colors"
@import "header"

.d-flex
  display: -webkit-box !important
  display: -ms-flexbox !important
  display: flex !important


main
  margin-top: 60px

  .top-content
    padding: 15px 20% 15px 0
    border-bottom: 1px solid $borderColor
    ul
      li
        margin-left: 5px

  .aside-block
    padding-top: 10px
    input
      margin-top: 0
    .aside-menu
      margin-top: 20px
      &-dep
        margin-top: 1rem
        margin-left: 1rem
        display: flex
      &-sect
        display: flex
        margin: 10px 0 10px 2rem
        summary
          display: flex
          margin-bottom: 5px
        p
          margin-left: 2.3rem
          line-height: 1.3rem

  .left-block
    border-right: 1px solid $borderColor
  .central-block
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    padding-top: 10px
    background-color: $white
    padding-bottom: 3rem
    .badge
      display: block
      height: 1rem
      width: 16rem
    .card
      width: 15rem
      margin: 0 20px
      margin-top: 20px
      .card-header
        font-weight: bold

  .right-block

    border-left: 1px solid $borderColor


    //max-width: 200px
    &-menu

      .aside-menu
        &-sect
          margin-left: 3rem



.footer
  display: flex
  flex-wrap: wrap

.box-shadow
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05)