@import "colors"
@import "header"
@import "switch"
@import "scroll"


.d-flex
  display: -webkit-box !important
  display: -ms-flexbox !important
  display: flex !important

body
  overflow: hidden

main
  margin-top: 60px
  position: relative
  .aside-block
    padding: 70px 0px 50px 0px
    overflow-x: hidden
    i
      margin-right: -25px
      z-index: 1
    input
      padding-left: 27px
      margin-top: 0
      border: none
      border-bottom: 1px solid #304050
      border-radius: 0
    form
      padding-top: 60px
      margin-top: -80px
      padding-right: 130px
      z-index: 1
      background-color: white
      position: fixed
    .form-check
      margin-right: 10px


    .aside-menu
      margin-top: 20px
      color: #37373D
      //color: #25262E

      &-dep
        margin-top: 1rem
        display: flex
        z-index: 6
        padding-left: 10px
        padding-bottom: 5px
        padding-right: 55px

      &-sect
        display: flex
        padding: 5px 5px 5px 30px
        summary
          display: flex
        p
          margin-left: 2.3rem
          line-height: 1.3rem
          padding-bottom: 5px


  .left-block
    position: fixed
    left: 0
    height: var(--leftBlockHeight)
    background-color: #fff
    form
      padding-left: 10px
  .left-block-child
    height: var(--centralBlockChildHeight)
    padding-right: var(--centralBlockLeftPadding)

  .central-block
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    position: relative
    z-index: 5
    padding-top: 10px
    padding-bottom: 100px
    background-color: $white
    height: var(--centralBlockHeight)
    //border-left: 1px solid rgba(48, 64, 80, 0.2)
    //border-right: 1px solid rgba(48, 64, 80, 0.2)
    .card
      width: 15rem
      margin: 110px 10px -70px
      h5
        font-size: 1.3rem
      h6
        margin-bottom: 10px
      .badge
        border: none
        margin-bottom: 5px
        background-color: #2D8EF3
        color: white
      .card-header
        font-weight: bold
  .central-block-child
    height: var(--centralBlockChildHeight)
    padding-left: var(--centralBlockRightPadding)


  .right-block
    position: fixed
    height: var(--rightBlockHeight)
    right: 0
    background-color: #fff
    form
      padding-left: 10px
    .form-check-right
      padding-left: 68px
      padding-top: 5px
      padding-bottom: 5px
    .aside-menu-dep
      padding-right: 75px
    @-moz-document url-prefix()
      .right-block-whiteLine
        position: fixed
        margin-top: -70px
        right: 5px
        width: 12px
        height: var(--rightBlockWhiteLine)
        background-color: #fff




.footer
  display: flex
  flex-wrap: wrap
  border-top: 1px solid rgba(48, 64, 80, 0.2)

.box-shadow
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05)

.icon-search
  border-radius: 0


.cardsFound
  display: flex
  flex-wrap: wrap
  position: absolute
  justify-content: space-between
  margin-left: 10px
  margin-top: 45px
  font-size: 1.5rem
  width: 90%

  //width: var(--cardsFoundWidth)


  .myEmpSwitch
    font-size: 1rem
    margin-top: 5px
    margin-right: 10px
    display: flex
    label
      margin-left: 7px
  .download-print
    display: flex
    flex-wrap: wrap
    font-weight: 400
    a
      color: #666666
      text-decoration: none
      font-size: 1rem
      &:hover
        color: #6c757d
    .el
      transition: max-height 0.5s
      overflow: hidden
      max-height: 0
      position: absolute
      font-size: 1rem
      z-index: 9999
      p
        border-radius: 0
        padding: 5px
        opacity: 0.7
    .trigger
      margin-left: 10px
    .trigger:hover > .el
      max-height: var(--max-height)
    .el2
      transition: max-height 0.5s
      overflow: hidden
      max-height: 0
      position: absolute
      font-size: 1rem
      z-index: 9999
      p
        border-radius: 0
        padding: 5px
        opacity: 0.7
    .trigger:hover > .el2
      max-height: var(--max-height)




.activeSection
  background-color: #E3EFFB
  font-weight: bold
  //transition: all 0.4s ease-in-out 0.1s




@-moz-document url-prefix()
  main
    overflow-y: auto
  form
    padding-left: 8px
  .aside-menu-dep
    margin-left: 15px
    margin-right: -15px
  .left-block
    margin-right: 8px
  .right-block
    z-index: 8


