@charset "UTF-8";
/* Updated version - 24th Nov 2014 */
/*$backgroundColor: #f76462*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?5171099");
  src: url("../fonts/fontello.eot?5171099#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?5171099") format("woff2"), url("../fonts/fontello.woff?5171099") format("woff"), url("../fonts/fontello.ttf?5171099") format("truetype"), url("../fonts/fontello.svg?5171099#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5171099#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-book:before {
  content: '\e800'; }

/* '¯áÇ' */
.icon-cog:before {
  content: '\e801'; }

/* '¯áü' */
.icon-search:before {
  content: '\e802'; }

/* '¯áé' */
.icon-logout:before {
  content: '\e803'; }

/* '¯áâ' */
.icon-mail:before {
  content: '\e804'; }

/* '¯áä' */
.icon-download:before {
  content: '\e806'; }

/* '¯áå' */
.icon-print:before {
  content: '\e807'; }

/* '¯áç' */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Lato, sans-serif; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  background: none;
  font-family: Lato, sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  background: #17283A;
  width: 100%; }
  header .userContext {
    margin-right: 10px; }
    header .userContext .dropdown-item i {
      margin-right: 5px; }
    header .userContext p {
      margin-left: 5px;
      color: white; }

.accordion {
  display: block;
  list-style-type: none;
  height: 60px;
  font-size: 0; }

.deactiveTab {
  width: 50px; }
  .deactiveTab .social-links a:before {
    margin-left: 0; }
  .deactiveTab .social-links a:after {
    margin-left: 85px; }

.tabs {
  display: inline-block;
  background-color: #17283A;
  border-right: #17283A 1px solid;
  width: 50px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s; }
  .tabs-hover:hover {
    width: 450px; }
    .tabs-hover:hover .social-links a:before {
      margin-left: -100px; }
    .tabs-hover:hover .social-links a:after {
      margin-left: -0px; }

.activeTab {
  width: 450px; }
  .activeTab .social-links a:before {
    margin-left: -100px; }
  .activeTab .social-links a:after {
    margin-left: -0px; }

.activeTab-deactivated {
  width: 50px; }
  .activeTab-deactivated .social-links a:before {
    margin-left: 0; }
  .activeTab-deactivated .social-links a:after {
    margin-left: 85px; }

.paragraph {
  position: relative;
  width: 450px;
  margin-left: 50px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #304050;
  user-select: none;
  color: white; }
  .paragraph h1 {
    font-size: 1.55rem; }
  .paragraph p {
    font-size: 0.9rem;
    line-height: 1.5em;
    padding-right: 30px;
    opacity: 0.9; }

.social-links {
  display: block; }
  .social-links a {
    display: block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0; }
    .social-links a:before, .social-links a:after {
      -moz-transition: all 0.4s ease-in-out 0.1s;
      -o-transition: all 0.4s ease-in-out 0.1s;
      -webkit-transition: all 0.4s ease-in-out;
      -webkit-transition-delay: 0.1s;
      transition: all 0.4s ease-in-out 0.1s;
      width: 50px;
      height: 60px;
      position: absolute;
      text-indent: 0;
      padding-top: 1.2rem;
      padding-left: 0.85rem;
      display: block;
      font: normal 1.5rem fontello;
      color: white; }
    .social-links a:after {
      font-size: 1.75rem;
      padding-left: 0.7rem;
      padding-top: 1rem;
      margin-left: 85px; }

.skills-icon a:before, .skills-icon a:after {
  content: '\e800'; }
.skills-icon a:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, white));
  background-image: -moz-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(23, 40, 58, 0.5)), color-stop(100%, rgba(23, 40, 58, 0.5)));
  background-image: -moz-linear-gradient(rgba(23, 40, 58, 0.5), rgba(23, 40, 58, 0.5));
  background-image: -webkit-linear-gradient(rgba(23, 40, 58, 0.5), rgba(23, 40, 58, 0.5));
  background-image: linear-gradient(rgba(23, 40, 58, 0.5), rgba(23, 40, 58, 0.5));
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #304050), color-stop(100%, #304050));
  background-image: -moz-linear-gradient(#304050, #304050);
  background-image: -webkit-linear-gradient(#304050, #304050);
  background-image: linear-gradient(#304050, #304050); }
.skills-icon a:before {
  color: rgba(255, 255, 255, 0.5); }

.search-icon a:before, .search-icon a:after {
  content: '\e802'; }
.search-icon a:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283e56), color-stop(100%, #325372));
  background-image: -moz-linear-gradient(#283e56, #325372);
  background-image: -webkit-linear-gradient(#283e56, #325372);
  background-image: linear-gradient(#283e56, #325372);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, white));
  background-image: -moz-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.11)), color-stop(100%, rgba(255, 255, 255, 0.13)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
  background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #304050), color-stop(100%, #304050));
  background-image: -moz-linear-gradient(#304050, #304050);
  background-image: -webkit-linear-gradient(#304050, #304050);
  background-image: linear-gradient(#304050, #304050); }
.search-icon a:before {
  color: rgba(255, 255, 255, 0.5); }

.administration-icon a:before, .administration-icon a:after {
  padding-left: 0.8rem;
  content: '\e801'; }
.administration-icon a:after {
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a9cd), color-stop(100%, #0083b4));
  background-image: -moz-linear-gradient(#00a9cd, #0083b4);
  background-image: -webkit-linear-gradient(#00a9cd, #0083b4);
  background-image: linear-gradient(#00a9cd, #0083b4);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.11)), color-stop(100%, rgba(255, 255, 255, 0.13)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
  background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.13));
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #304050), color-stop(100%, #304050));
  background-image: -moz-linear-gradient(#304050, #304050);
  background-image: -webkit-linear-gradient(#304050, #304050);
  background-image: linear-gradient(#304050, #304050); }
.administration-icon a:before {
  color: rgba(255, 255, 255, 0.5); }

#activePage {
  z-index: -1;
  width: 399px;
  border: 0;
  font-size: 12px;
  margin-left: 150px;
  position: absolute; }

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2D8EF3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2D8EF3; }

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px); }

/* Rounded sliders */
.slider.round {
  border-radius: 17px; }

.slider.round:before {
  border-radius: 50%; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

main {
  margin-top: 60px;
  display: flex; }
  main .aside-block {
    padding-top: 50px;
    padding-bottom: 50px; }
    main .aside-block i {
      margin-right: -25px;
      z-index: 4; }
    main .aside-block input {
      padding-left: 27px;
      margin-top: 0;
      border: none;
      border-bottom: 1px solid #304050; }
    main .aside-block .aside-menu {
      margin-top: 20px;
      margin-right: 10px; }
      main .aside-block .aside-menu-dep {
        margin-top: 1rem;
        margin-left: 1rem;
        display: flex; }
      main .aside-block .aside-menu-sect {
        display: flex;
        margin: 10px 0 10px 2rem; }
        main .aside-block .aside-menu-sect summary {
          display: flex;
          margin-bottom: 5px; }
        main .aside-block .aside-menu-sect p {
          margin-left: 2.3rem;
          line-height: 1.3rem; }
  main .left-block {
    border-right: 1px solid rgba(48, 64, 80, 0.2);
    padding-left: 10px;
    position: fixed;
    left: 0;
    height: var(--leftBlockHeight);
    z-index: 2;
    background-color: #fff;
    overflow-y: auto; }
  main .central-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #F5F6FA;
    padding-left: var(--centralBlockLeftPadding);
    padding-right: var(--centralBlockRightPadding); }
    main .central-block .card {
      width: 15rem;
      margin: 110px 10px -70px; }
      main .central-block .card h5 {
        font-size: 1.3rem; }
      main .central-block .card h6 {
        margin-bottom: 10px; }
      main .central-block .card .badge {
        border: none;
        margin-bottom: 5px;
        background-color: #2D8EF3;
        color: white; }
      main .central-block .card .card-header {
        font-weight: bold; }
  main .right-block {
    border-left: 1px solid rgba(48, 64, 80, 0.2);
    padding-left: 5px;
    position: fixed;
    width: var(--rightBlockWidth);
    height: var(--rightBlockHeight);
    right: 0;
    z-index: 2;
    overflow-y: auto;
    background-color: #fff; }
    main .right-block-menu .aside-menu-sect {
      margin-left: 3rem; }

.footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(48, 64, 80, 0.2); }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.icon-search {
  border-radius: 0; }

.cardsFound {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 45px;
  font-size: 1.5rem;
  width: var(--cardsFoundWidth); }
  .cardsFound .myEmpSwitch {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 10px;
    display: flex; }
    .cardsFound .myEmpSwitch label {
      margin-left: 7px; }
  .cardsFound .download-print {
    display: flex;
    flex-wrap: wrap; }
    .cardsFound .download-print a {
      color: rgba(0, 0, 0, 0.3);
      text-decoration: none;
      font-size: 1rem; }
      .cardsFound .download-print a:hover {
        color: #6c757d; }
    .cardsFound .download-print .el {
      transition: max-height 0.5s;
      overflow: hidden;
      max-height: 0;
      position: absolute;
      font-size: 1rem;
      z-index: 9999; }
      .cardsFound .download-print .el p {
        border-radius: 0;
        padding: 5px;
        opacity: 0.7; }
    .cardsFound .download-print .trigger {
      margin-left: 10px; }
    .cardsFound .download-print .trigger:hover > .el {
      max-height: var(--max-height); }
    .cardsFound .download-print .el2 {
      transition: max-height 0.5s;
      overflow: hidden;
      max-height: 0;
      position: absolute;
      font-size: 1rem;
      z-index: 9999; }
      .cardsFound .download-print .el2 p {
        border-radius: 0;
        padding: 5px;
        opacity: 0.7; }
    .cardsFound .download-print .trigger:hover > .el2 {
      max-height: var(--max-height); }

/*# sourceMappingURL=main.css.map */
